.app {
    min-height: 93vh;
    background-attachment: fixed;
    padding: 1.5%;
    background-image: url('./assets/images/background.jpg');
    background-position: center;
    background-size: cover;
}


.activeLink{
    color: red;
    font-weight: bold;
}